// Navigation Styles here
.main-nav {
  @media @mobile {
    width: 100%;
  }

  ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    .flex-box(row, space-between, base);

    @media @mobile {
      .flex-box(row, space-between, base);
      width: 100%;
    }

    li {
      a {
        padding: @nav-link-padding;
        text-decoration: none;
        color: @shark;
        font-size: 1.5rem;

        @media @mobile {
          padding: 0;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: @eastern-blue;
        }
      }

      margin-left: @nav-link-margin;

      @media @mobile {
        margin-left: .5em;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}